CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.qtc_clangd
ui_*.h
*.o
*.so
*.a
*.dSYM
*.exe
*.out
*.app
*.dll
*.pdb
*.lib
*.pro.user
*.pro.user.*
*.qmake.stash
*.moc